<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="index.html"><strong>Ekart</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
          <ul class="navbar-nav m-auto nav-container">
              <li class="nav-item m-auto">
                  <a class="nav-link active" href="index.html">Products</a>
              </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
              <a class="btn btn-success btn-sm ml-3" href="cart.html">
                  <i class="fa fa-shopping-cart"></i> Cart
                  <span class="badge badge-light">3</span>
              </a>
          </form>
      </div>
  </div>
</nav>
